/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#leftVBox{
	-fx-background-color: #2f4f4f;
}
#rightAnchor, #mainPane{
	-fx-background-color: #ffffff;
}
#catalog{
	-fx-background-color: #fffafa;
}
#searchButton{
	-fx-background-color:#0000ff;
}
#contentVbox{
	-fx-background-color:#add8e6;
}
#contentGrid{
	-fx-background-color:#add8e6;
}
#mainScorll{
	-fx-background-color:rgba(0,0,0,0);
}
#grid{
	-fx-background-color:rgba(0,0,0,0);
	}