/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#leftVBox{
	-fx-background-color: #2f4f4f;
}
#rightAnchor, #mainPane{
	-fx-background-color: #ffffff;
}
#catalog{
	-fx-background-color: #fffafa;
}
#searchButton{
	-fx-background-color:#0000ff;
}