/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#leftVBox{
	-fx-background-color: #2f4f4f;
}
#rightAnchor, #mainPane{
	-fx-background-color: #ffffff;
}
#catalog{
	-fx-background-color: #fffafa;
}
#searchButton{
	-fx-background-color:#0000ff;
	-fx-font-size:20px;
}
#contentVbox{
	-fx-background-color:#add8e6;
}
#contentGrid{
	-fx-background-color:#add8e6;
}
#mainScorll{
	-fx-background-color:rgba(0,0,0,0);
}
#grid{
	-fx-background-color:rgba(0,0,0,0);
}
#mainVBox{
	-fx-background-color:#e0ffff;
}
#saveButton{
	-fx-background-color:blue ;
	-fx-font-size:20px;
}
#mainGrid{
	-fx-background-color:#e0ffff;
}
#mainGridPane{
	-fx-background-color:#e0ffff;
}
#aboutGrid{
	-fx-background-color:#e0ffff;
}